anaconda-anon-usage
anaconda-client
archspec
attrs
boltons
Brotli
certifi
cffi
charset-normalizer
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
defusedxml
distro
fastjsonschema
idna
jsonpatch
jsonschema
jsonschema-specifications
jupyter_core
libmambapy
menuinst
nbformat
packaging
platformdirs
pluggy
pycosat
pycparser
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
ruamel.yaml
setuptools
six
tqdm
traitlets
truststore
urllib3
wheel
zstandard
